<a href="https://colab.research.google.com/github/thegeeksam/Pandas/blob/master/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#import Panda Module as pd
import pandas as pd

#Create a series object s1 with  3 items. i.e., integer, string and tuple.
#Index are 0, 1 & 2 by default.
s1 = pd.Series([1,'SECE',(28,5)])

#Create a series object s2 with  3 strings 
#Index of strings are SuperHero1, SuperHero2 and SuperHero3.
s2 = pd.Series(['AntMan','IronMan','Hulk'],index = ['SuperHero1','SuperHero2','SuperHero1'])

#Print both the series
print("Series 1 ->\n", s1)
print("\nSeries s ->\n", s2)

Series 1 ->
 0          1
1       SECE
2    (28, 5)
dtype: object

Series s ->
 SuperHero1     AntMan
SuperHero2    IronMan
SuperHero1       Hulk
dtype: object