<a href="https://colab.research.google.com/github/thegeeksam/Pandas/blob/master/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import Panda Module as pd
import pandas as pd

#Create a series object ds with 5 items
ds = pd.Series([2, 4, 6, 8, 10])

#print
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [0]:
#import Panda Module as pd
import pandas as pd

#Create a series object s1 with  3 items. i.e., integer, string and tuple.
#Index are 0, 1 & 2 by default.
s1 = pd.Series([1,'SECE',(28,5)])

#Create a series object s2 with  3 strings 
#Index of strings are SuperHero1, SuperHero2 and SuperHero3.
s2 = pd.Series(['AntMan','IronMan','Hulk'],index = ['SuperHero1','SuperHero2','SuperHero1'])

#Print both the series
print("Series 1 ->\n", s1)
print("\nSeries s ->\n", s2)

Series 1 ->
 0          1
1       SECE
2    (28, 5)
dtype: object

Series s ->
 SuperHero1     AntMan
SuperHero2    IronMan
SuperHero1       Hulk
dtype: object

In [0]:
#Creating a series from Lists
import pandas as pd
 
# a simple list
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
series = pd.Series(list)
print(series)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [0]:
# dictionary to a Pandas series.
import pandas as pd
# Dictionary
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)

series = pd.Series(d1)
print("Converted series:")
print(series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [0]:
#Import Series from External Source
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/thegeeksam/DataSet/master/nba.csv")
series = pd.Series(df['Name']) 
print(series)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object